@import url(https://fonts.googleapis.com/css?family=Righteous);
body{
    font-family: 'Righteous', Helvetica, sans-serif;
    background: linear-gradient(45deg, #6899f3, #97b3e7, #ce97e7, #db89d0, #faabe0,#fd73cf);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
    }
    /* Animation du background */
    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }
    /* Apparence du Menu */
    nav li{
        float:center; 
        width:170px;
         height:35px;
          background-color:rgb(198, 74, 202);
           text-align: center;
              line-height:35px;
               list-style:none;
                position: relative;
                vertical-align: top;
                justify-content: center;
                 font-family: "Arial";
                 font-weight: bold;
                 box-shadow:6px 6px 12px 0px #0000003a ;
    }
    nav li a, a{
         color:white;
          text-decoration:none;
           display:block;
    }
    nav li.menu{
        background-color: rgb(161, 28, 161);
        color: rgb(179, 245, 188);
}
nav li :hover{
    background-color:rgb(231, 155, 13);
    font-size: 17px;
}
h1,h2{
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.205);
    color: rgb(12, 128, 70);
   }
   div,p,footer{
       text-align: center;
       font-family: Arial;
   }
   a, footer{
    text-align: center;
    font-weight: bold;
}
.DIVMenu{
    position:fixed;
    top: 30px;
}
footer{
    vertical-align: bottom;
    bottom: 30px;
}
/* Centrage */
.Hobbys{
    display: flex;
}
.Hobby, .Hobby2, .Hobby3 {
    display: inline-block;
    text-align: center;
    justify-content:center;
    margin: 0 auto;
}
img {
    display:inline-block;
    vertical-align: top;
    width: 250px;
    box-shadow:6px 6px 12px 0px #0000003a ;
    transition: width ease-in-out 200ms;
}
img:hover{
    width: 270px;
    transition: width ease-in-out 200ms;
}